* {
    margin: 0;
    padding: 0;
}

body {
    background: url(https://images.unsplash.com/photo-1580193769210-b8d1c049a7d9?q=80&w=1174&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) center center / cover no-repeat;
    height: 69vh;
}

.container {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 92vh;
}

h1 {
    font-size: 3rem;
    font-weight: bolder;
    font-family: cursive;
}