* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fbebdd;
    height: 65vh;
    margin: 10rem 15rem 0rem 15rem;
    gap: 2rem;
    border: 1rem solid #ebc0c0;
}

input {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid rosybrown;
    width: 30rem;
    outline: none;
    cursor: pointer;
}
button{
    padding: 0.5rem;
    background: transparent;
    border: 1px solid rosybrown;
    border-radius: 0.25rem;
    width: 6rem;
    cursor: pointer;
    transition: 2s;
}
button:hover{
    background: rgb(228, 159, 159);
    color: #000;
    font-weight: 600;
}
h1{
    font-size: 3rem;
}